.header{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 1rem auto;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 768px) {
    .header{
        max-width: 85vw;
    }
}
